<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :開始日 %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :終了日 %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :終日の場合はチェックを入れます %>
    <%= form.check_box :all_day %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
