<p id="notice"><%= notice %></p>
<h1>予定詳細</h1>
<p>
  <strong>タイトル:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>開始日:</strong>
  <%= @post.start_date %>
</p>

<p>
  <strong>終了日:</strong>
  <%= @post.end_date %>
</p>

<p>
  <strong>終日:</strong>
  <%= @post.all_day ? ' ◯ ': ' '%>
</p>

<p>
  <strong>メモ:</strong>
  <%= @post.memo %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to 'スケジュール一覧', posts_path %>
