<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @post.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @post.end_date %>
</p>

<p>
  <strong>All day:</strong>
  <%= @post.all_day %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @post.memo %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
